#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	/* height: 60px; */
	padding: 5px 0px;
}

.row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#header{
	text-align: center;
}

#intro-gif{
	background-image: url('../img/women.gif');
	background-size: 100%;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-position-y: center;
	display:flex;
	width: 100%;
	height: 250px;
	/* border-radius: 1px; */
	/* background: 50%; */
}
#intro-text { 
	text-align: center;
	color:black;
	font-size: 20px;
	margin: 50px 0;
}

h1 {
	color: darkgray;
	font-family: sans-serif;
}

#sidebar-div {
  width: 60px;
  margin-left: 10px;
  position: relative;
  transition: 1s;
  text-align: center;
}

#sidebar {
	width: 50px;
  right: 0;
  position: fixed;
  top:40px;
  border: 2px solid #b6b6b6;
  vertical-align: middle;
  border-radius: 10px;
  padding: 5px;
  margin-right: 15px;
}

#sidebar a {
  margin-top: 4px;
  display:block;
  color: #858585;
  font-size: 2.3em;
  transition: 0.3s;
}
#sidebar a:hover {
  color: #3399FF;
  transform: scale(1.5);
}