#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

.row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}